.board {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    background-color: darkblue;
    height: 100%;
    width: 100%;
    grid-gap: 5px;
}

.cell {
    background-color: grey;
    font-size: 215px;
}

body, html {
    height: 100%;
    width: 100%;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
    gap: 15px;
}

.current-player {
    flex-basis: 1;
}

.board {
    flex-basis: auto;
}

.game-results {
    flex-basis: 1;
}
