.user-input-container {
    display: flex;
    flex-direction: column;
}

.word-to-show {
    background-color: yellow;
}

body {
    display: grid;
}

.you-won-visible {
    display: none;
}

.you-won {
    font-size: 24px;
    color: green;
}
